/RemoteServer/.vs
/RemoteServer/RemoteClient/RemoteClient.aps
/RemoteServer/RemoteClient/RemoteClient.vcxproj.user
/RemoteServer/RemoteServer/RemoteServer.vcxproj.user
/RemoteServer/x64
/RemoteServer/RemoteClient/x64
/RemoteServer/RemoteServer/x64
